.directorist-offer-single {
  width: 99%;
  clear: both;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 1px 12px -4px rgb(0 0 0 / 20%);
  position: relative;
  margin-bottom: 30px;
}

.directorit-offer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.directorit-offer-image {
  width: 25%;
  padding: 5px;
}

.directorit-offer-image img {
  width: 100%;
}

.directorit-offer-info {
  width: 50%;
  padding: 5px;
}

.directorit-offer-title {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
}

.directorit-offer-description {
  font-size: 14px;
  line-height: 16px;
}

.directorit-offer-action {
  width: 25%;
  padding: 5px;
}

.directorit-offer-button {
}

.directorit-offer-status {
}

.directorit-offer-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.directorit-offer-share {
}

.directorit-offer-like {
}
